/img
/save
/Szoftverfejlesztő és -tesztelő OKJ képzés vizsgaremek 2022.pptx
/Viktória Hairstyle - Feladatok.docx
/Viktória Hairstyle - Felhasználói dokumentáció.docx
/Viktória-Hairstyle-Fejlesztői-dokumentáció.docx